
.login {
  background: $bg-secondary;
  .login_wrapper {
    .login_wrap {
      height: 100vh;
      color: $color-primary;

      .login_1 {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
        margin: 0 auto;

        img {
          transform: scale(1);
        }

        span {
          font-size: 20px;
          text-align: center;
        }
      }

      .login_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 auto;


        .login_2_wrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          background: $bg-primary;
          box-shadow: 0 1px 2px $shadow-1;
          padding: 1rem 0 2rem 0;
          width: 350px;
          height: fit-content;
          margin: 1rem auto;
          border-radius: 10px;

          button {
            width: 100%;
            height: 50px;
            font-size: 17px;
            font-weight: 700;
            user-select: none;
          }

          .forgot_password {
            color: $blue-color;
            font-size: 14px;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }


        }
        .sign_extra {
          font-size: 14px;
          cursor: pointer;
          text-decoration: none;
          color: $dark-color-primary;

          b {
            font-weight: 700;
            &:hover {
              color: $blue-color;
            }
          }
        }

        .login_footer {
          padding: 1.5rem;

          .login_footer_wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 3px 10px;
            font-size: 14px;
            color: $color-secondary;
            margin: 0 auto;

            a {
              color: inherit;
              text-decoration: none;
              display: flex;
              align-items: center;

              &:hover {
                text-decoration: underline;
              }
            }

            .footer_square {
              cursor: pointer;
              background: #fff;
              height: 20px;
              width: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid $bg-third;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

              svg {
                width: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 850px) {
  .login_wrap {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .login_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 0 !important;
    margin: 0 !important;


    img {
      width: 400px;
    }

    span {
      font-size: 20px;
    }
  }
  .login_2_wrap {
    width: 400px !important;
  }
}